name: Dart

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v3
      - uses: dart-lang/setup-dart@v1.3

      - name: Install dependencies
        run: dart pub get

      - name: Hello world
        run: dart compile exe bin/aoc15.dart -o build/aoc15_${{ matrix.os }}

      - name: Upload Artifacts
        uses: actions/upload-artifact@v3
        with:
          path: build/aoc15_${{ matrix.os }}